.marqueeimages-area {
  width: 100%;
  overflow: hidden;

  .marquee-inner {
    display: flex;
    height: 385px;
    animation: marquee linear infinite;
  }

  img {
    height: 100% !important;
    object-fit: cover;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.figmentasold {
  width: 230vw;
  overflow: hidden;
  display: flex;

  .figmentasold-inner {
    height: 546.55px;
    width: 100%;
    display: flex;
    animation: marqueesold 60s linear infinite;
  }

  .figmentasold-product {
    height: 100%;
    width: 351.78px;
    margin-right: 49px;
  }
}

@keyframes marqueesold {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media(max-width:595px) {
  .figmentasold {
    width: 1500vw;
    overflow: hidden;
    display: flex;

    .figmentasold-inner {
      height: auto !important;
      width: 100%;
      display: flex;
      animation: marqueesold 60s linear infinite;
    }

    .figmentasold-product {
      height: 100%;
      width: 100%;
      margin-right: 0px;
    }
  }
}